.feed{
    background-color: #f3f2ef;
    margin-top: 80px;
    padding: 0 10%;
}
.feed > h3{
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline black;
}
