.workspace{
    display: flex;
    padding : 0 5%;
    margin-top: 80px;
    justify-content: space-between;
}
.workspace_tasks{
    flex: 0.6;
    justify-self: center;
}
.workspace_projects{
    flex: 0.2;
    justify-self: center;
}
@media screen and (max-width: 800px) {
    .workspace {
        flex-direction: column;
    }
    .workspace_projects{
        padding: 50px 0 0;
        width: 100%;
    }
}
