.db{
    display: flex;
}
.db_sidebar{
    position: sticky;
    top: 0;
    flex: 0.2;
    background-color: black;
    color: white;
    padding: 50px;
    height: 100vh;
}
.db_sidebar > p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.sidebar_item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}
.sidebar_item:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: gray;
}
.sidebar_hash {
    margin-right: 10px;
}
.db_main{
    flex: 0.8;
    margin-left: auto;
    margin-right: auto;
}
