footer{
    background-color: #262626;
    color:#fff;
    width: 100%;
}
.main-content{
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    padding: 1.25rem;
    min-width: 12.5rem;
}
.left{
}
.box > h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.content > label{
    margin-top: 15px;
}
.content_icon{
    font-size: 100px;
}
.legal > label{
    color: white;
    display: block;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .box {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .box {
        justify-content: space-evenly;
    }
}
