.login_center{
    display: flex;
    align-items: center;
    height: 100vh;
}
.form{
    font-family: "Roboto", sans-serif;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.form > p{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Brush Script MT;
}
.form > form{
    display: flex;
    flex-direction: column;
}
.form > form > input{
    outline: 0;
    border-radius: 5px;
    border: 1px solid grey;
    width: 350px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
}

.form > form > button{
    outline: 0;
    background: #926239;
    width: 350px;
    height: 50px;
    margin-left: auto;
    border: 0;
    color: #FFFFFF;
    font-size: large;
    cursor: pointer;
    display: inline-block;
}
.form > form > button:hover, .form > form > button:active, .form > form > button:focus{
    background-color: #bb6e2d;
    transition: all 1s ease 0s;
}

