*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
    height: 60px;
    width: 100%;
    position: fixed;
    top:0px;

}
label.logo{
    font-size: 35px;
    font-family: Brush Script MT;
    color:black;
    cursor: pointer;
    margin-right: auto;
    padding-left: 5%;
}
nav ul{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav ul li{
    margin:0 5px;
    cursor: pointer;
}
.aClass{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
}
.aClass:hover{
    background-color: whitesmoke;
}
button{
    display: flex;
    align-items: center;
    outline: 0;
    padding: 6px;
    margin-left: 10px;
    cursor: pointer;
    color:black;
    font-size: 13px;
    border:black 1px solid;
    border-radius:5px;
    background-color: white;
}
.reorder{
    padding-left: 3px;
}
.hidden{
    display: none;
}
.links{
    display: flex;
}
@media screen and (max-width: 800px) {
    .hidden {
        display:flex;
    }
    .links{
        display: none;
    }
    #hl{
        position: absolute;
        left: 0px;
        top: 61px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 30px;
    }
    #hl > li{
        margin-bottom: 30px;
    }

}


